body {
    background-image: url(purple_rose.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    border: 5px;
}

#clock {
    font-size: 7rem;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    color: rgb(246, 251, 251); 
    backdrop-filter: blur(5px);
    width: 100%;
}
